flynt-component[name='NavigationBurger'] {
  // @apply h-[66px];
  // @apply sm:h-[85px];


  // @apply lg:hidden;

  .wrapper {
    align-items: center;
    background-color: var(--blue);
    display: flex;
    inset-block-start: 0;
    inset-inline: 0;
    justify-content: space-between;
    padding-block: 12px;
    position: fixed;
    width: 100%;
    z-index: 99;
    // @apply h-[66px];
    // @apply sm:h-[85px];

    .left {
      width: 48px;
    }

    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }

  .button {
    font-size: 1rem;
    padding: 5px 10px;
  }

  @import 'Partials/hamburger';
  @import 'Partials/menu';
}

// Overwriting wp defaults to keep admin bar fixed
@media screen and (max-width: 600px) {
  // stylelint-disable-next-line selector-max-id
  #wpadminbar {
    position: fixed;
  }
}
