flynt-component[name='HeroHeaderHome'] {
  // Prevent horizontal overflow on mobile
  overflow-x: hidden !important;
  max-width: 100vw;

  .slider {
    max-width: 100%;
    overflow-x: hidden !important;
    position: relative;

    .swiper-wrapper {
      overflow-x: hidden !important;
      box-sizing: inherit;
    }

    .swiper-slide {
      display: flex;
    }
  }
}
