flynt-component[name='HeroHeaderHome'] {
  // Prevent horizontal overflow on mobile
  overflow-x: hidden !important;
  max-width: 100vw;

  .marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    
    .marquee-content {
      will-change: transform;
      display: inline-flex;
      flex-wrap: nowrap;
      min-width: fit-content;
      
      figure {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
      
      img {
        flex-shrink: 0;
      }
    }
  }

  .video {
    margin: 0 auto;
    position: relative;

    &-player {
      @apply aspect-9/16;
      @apply lg:aspect-16/10;
      height: auto;
      position: relative;
      z-index: 10;

      &[data-state='isLoading'] {
        .video-loader {
          display: block;
        }

        .video-playButton {
          display: none;
        }
      }

      &[data-state='isLoaded'] {
        .video-loader,
        .video-playButton {
          display: none;
        }

        iframe {
          display: block;
        }
      }
    }

    iframe {
      display: none;
      height: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: relative;
      width: 100%;
    }
  }
}
