<div class="video-wrapper w-full h-full">
    {% if item.videoIDLandscape %}
      <div style="padding:62.5% 0 0 0;position:relative;">
    {% endif %}
    {% if item.videoIDPortrait %}
      <div style="padding:125% 0 0 0;position:relative;">
    {% endif %}
        <iframe src="https://player.vimeo.com/video/{% if item.videoIDLandscape %}{{ item.videoIDLandscape }}{% endif %}{% if item.videoIDPortrait %}{{ item.videoIDPortrait }}{% endif %}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&amp;controls=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="New_Standard_Studio_Freitag_Case_05"></iframe>
    {% if item.videoIDLandscape %}
      </div>
    {% endif %}
    {% if item.videoIDPortrait %}
      </div>
    {% endif %}
    <script src="https://player.vimeo.com/api/player.js"></script>
    {# <div class="video" data-video-size="{{ options.size }}">
      <div data-ref="videoPlayer" class="video-player w-full mx-auto" data-state="isLoaded">
        {{ item.oembed }}
      </div>
    </div> #}
</div>