flynt-component[name='BlockForms'] {
  .wysiwyg {
    > :last-child {
      margin-block-end: 0;
    }

    @media (max-width: $breakpoint-tablet) {
      br {
        content: '\00a0';
      }
    }
  }

  .stickyTitle {
    .column {
      &:first-child {
        .wysiwyg {
          @apply sticky;
          @apply top-[91px];
        }
      }
    }
  }
} 