flynt-component[name='NavigationFooter'] {
  .current-language-menu-item {
    @apply text-white;
  }

  .language {
    &-en {
      @apply col-start-11 col-end-12 justify-end lg:translate-x-[74%] z-10;
    }

    &-de {
      @apply col-start-12 col-end-13 justify-end;
    }
  }

  .marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    
    .marquee-content {
      will-change: transform;
      display: inline-flex;
      flex-wrap: nowrap;
      min-width: fit-content;
      
      figure {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
      
      img {
        flex-shrink: 0;
      }
    }
  }
}