flynt-component[name='NavigationFooter'] {
  .current-language-menu-item {
    @apply text-white;
  }

  .language {
    &-en {
      @apply col-start-11 col-end-12 justify-end lg:translate-x-[74%];
    }

    &-de {
      @apply col-start-12 col-end-13 justify-end;
    }
  }

  .marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .marquee-track {
    display: flex;
    width: fit-content;
    animation: marquee 20s linear infinite;
    animation-fill-mode: forwards;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: marquee 20s linear infinite;
    -webkit-animation-fill-mode: forwards;

    @media (max-width: $breakpoint-tablet) {
      animation: marquee 10s linear infinite;
      -webkit-animation: marquee 10s linear infinite;
    }
  }

  .marquee-content {
    display: flex;
    flex-shrink: 0;
  }

  .marquee-item {
    padding: 0 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-25%, 0, 0);
    }
  }

  @-webkit-keyframes marquee {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-25%, 0, 0);
    }
  }

  // Pause animation on hover for better UX
  .marquee-track:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }
}