@font-face {
  font-display: swap;
  font-family: 'FKGroteskNeue';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/FKGroteskNeue-Regular.woff2') format('woff2');
}

html {
  color: var(--black);
  font-size: var(--base-font-size-desktop);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;

  @media (min-width: $breakpoint-mobile) {
    font-size: var(--base-font-size-mobile);
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: var(--base-font-size-desktop);
  }
}

:disabled {
  pointer-events: none;
}

::selection {
  background: var(--orange);
  color: var(--white);
}

body {
  color: var(--color-text);
  font-family: var(--primary-font-family);
}

#{$heading-selectors} {
  line-height: calc(1em + 0.5rem);
}