button {
  border: inherit;
}

.button {
  @include reset-link;
  appearance: none;
  font-family: 'FKGroteskNeue', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1;
  @apply w-fit;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply cursor-pointer;
  @apply relative;
  @apply text-center;
  @apply no-underline;

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &--outline {
    @apply py-[10px];
    @apply px-lg;
    @apply text-black;
    @apply uppercase;
    @apply bg-transparent;
    @apply justify-center;
    @apply border;
    @apply border-black;
    @apply whitespace-nowrap;

    &:hover,
    &:focus {
      color: var(--white) !important;
      @apply bg-black;
    }
  }

  &--link {
    background-color: transparent;
    border: 0;
    color: var(--black);
    padding: 0;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--orangeHover);
    }
  }

  /**
  * Buttons - Not in use
  */

  // &--fullBlack {
  //   @apply text-white;
  //   @apply bg-black;
  //   @apply justify-center;
  //   @apply gap-xs;
  //   @apply border-2;
  //   @apply border-transparent;

  //   &:hover,
  //   &:focus {
  //     color: var(--black) !important;
  //     @apply bg-transparent;
  //     @apply border;
  //     @apply border-black;

  //     &::after {
  //       color: var(--black) !important;
  //     }
  //   }

  //   &::after {
  //     content: '→';
  //     font-family: 'FKGroteskNeue', Arial, sans-serif;
  //     font-size: 23px;
  //     @apply relative;
  //     @apply bottom-[2px];
  //   }
  // }

  // &--outline {
  //   @apply text-black;
  //   @apply bg-transparent;
  //   @apply justify-center;
  //   @apply gap-xs;
  //   @apply border-2;
  //   @apply border-black;

  //   &:hover,
  //   &:focus {
  //     color: var(--white) !important;
  //     @apply bg-black;

  //     &::after {
  //       color: var(--white) !important;
  //     }
  //   }

  //   &::after {
  //     content: '→';
  //     font-family: 'FKGroteskNeue', Arial, sans-serif;
  //     font-size: 23px;
  //     @apply relative;
  //     @apply bottom-[2px];
    
  //   }

  //   &Big {
  //     @apply px-[22px];
  //     @apply py-[14px];
  //     @apply capitalize;
  //     @apply font-[500];
  //     font-family: 'FKGroteskNeue', Arial, sans-serif;
  //     @apply text-[1.6rem];
  //     @apply lg:text-[1.938rem];
  //     @apply w-full;
  //     @apply flex;
  //     @apply flex-row;
  //     @apply justify-between;
  //     @apply items-center;
  //     @apply text-left;

  //     &::after {
  //       content: '→';
  //       font-family: 'FKGroteskNeue', Arial, sans-serif;
  //       font-size: 34px;
  //       @apply relative;
  //       @apply bottom-[5px];
  //     }
  //   }

  //   &NoArrow {
  //     &::after {
  //       content: none;
  //     }
  //   }
  // }

  // &--ghost {
  //   background-color: transparent;
  //   border: 3px solid var(--black);
  //   color: var(--black);
  //   text-decoration: none;

  //   &:hover,
  //   &:focus {
  //     background-color: var(--black);
  //     color: var(--white);
  //   }
  // }

  // &--fullGreen {
  //   @apply text-green;
  //   @apply bg-white;
  //   @apply justify-center;
  //   @apply gap-xs;
  //   @apply border;
  //   @apply border-transparent;

  //   &:hover,
  //   &:focus {
  //     @apply text-white;
  //     @apply bg-transparent;
  //     @apply border;
  //     @apply border-white;
  //   }
  // }

  // &--fullBlue {
  //   @apply text-blue;
  //   @apply bg-white;
  //   @apply justify-center;
  //   @apply gap-xs;
  //   @apply border;
  //   @apply border-transparent;

  //   &:hover,
  //   &:focus {
  //     @apply text-white;
  //     @apply bg-transparent;
  //     @apply border;
  //     @apply border-white;
  //   }
  // }

  // &--fullOrange {
  //   @apply text-orange;
  //   @apply bg-white;
  //   @apply justify-center;
  //   @apply gap-xs;
  //   @apply border;
  //   @apply border-transparent;

  //   &:hover,
  //   &:focus {
  //     @apply text-white;
  //     @apply bg-transparent;
  //     @apply border;
  //     @apply border-white;
  //   }
  // }

  // &--fullBlack {
  //   @apply text-black;
  //   @apply bg-white;
  //   @apply justify-center;
  //   @apply gap-xs;
  //   @apply border;
  //   @apply border-transparent;

  //   &:hover,
  //   &:focus {
  //     @apply text-white;
  //     @apply bg-transparent;
  //     @apply border;
  //     @apply border-white;
  //   }
  // }

  // &--fullWhite {
  //   @apply text-white;
  //   @apply bg-black;
  //   @apply justify-center;
  //   @apply gap-xs;
  //   @apply border;
  //   @apply border-transparent;

  //   &:hover,
  //   &:focus {
  //     @apply text-black;
  //     @apply bg-white;
  //     @apply border;
  //     @apply border-black;
  //   }
  // }

  // &--fullPost {
  //   @apply text-white;
  //   @apply bg-black;
  //   @apply justify-center;
  //   @apply gap-xs;
  //   @apply border;
  //   @apply border-transparent;

  //   &:hover,
  //   &:focus {
  //     @apply text-black;
  //     @apply bg-white;
  //     @apply border;
  //     @apply border-black;
  //   }
  // }

  // &--outlineRight {
  //   @apply text-green;
  //   @apply bg-transparent;
  //   @apply justify-center;
  //   @apply gap-xs;
  //   @apply border;
  //   @apply border-green;

  //   &:hover,
  //   &:focus {
  //     @apply text-white;
  //     @apply bg-green;
  //   }

  //   &::after {
  //     content: '→';
  //     @apply relative;
      
  //   }

  //   &-noArrow {
  //     &::after {
  //       content: none;        
  //     }
  //   }
  // }

  // &--outlineBack {
  //   @apply text-green;
  //   @apply bg-transparent;
  //   @apply justify-center;
  //   @apply gap-xs;
  //   @apply border;
  //   @apply border-green;

  //   &:hover,
  //   &:focus {
  //     @apply text-white;
  //     @apply bg-green;
  //   }
  // }

  // &--white {
  //   @apply text-green;
  //   @apply bg-white;
  //   @apply justify-center;
  //   @apply gap-xs;
  //   @apply border;
  //   @apply border-transparent;

  //   &:hover,
  //   &:focus {
  //     @apply text-white;
  //     @apply bg-transparent;
  //     @apply border;
  //     @apply border-white;
  //   }
  // }

  // &--yellow {
  //   background-color: var(--yellow);
  //   color: var(--black);
  //   text-decoration: none;

  //   &:hover,
  //   &:focus {
  //     background-color: var(--black);
  //     color: var(--yellow);
  //   }

  //   &::before {
  //     border-bottom: 12px solid transparent;
  //     border-right: 12px solid var(--grey);
  //     content: '';
  //     height: 0;
  //     left: calc(100% - 10px);
  //     position: absolute;
  //     top: -2px;
  //     width: 0;
  //     z-index: 1000;
  //   }
  // }

  // &--black {
  //   background-color: var(--black);
  //   border: 1px solid transparent;
  //   color: var(--yellow);
  //   text-decoration: none;

  //   &:hover,
  //   &:focus {
  //     background-color: var(--white);
  //     color: var(--black);
  //   }
  // }

  // &--blue {
  //   background-color: transparent;
  //   border: 1px solid var(--blue);
  //   color: var(--blue);
  //   text-decoration: none;

  //   &:hover,
  //   &:focus {
  //     background-color: var(--blue);
  //     color: var(--grey);
  //   }
  // }

  // &--acqua {
  //   background-color: transparent;
  //   border: 1px solid var(--acqua);
  //   color: var(--acqua);
  //   text-decoration: none;

  //   &:hover,
  //   &:focus {
  //     background-color: var(--acqua);
  //     color: var(--grey);
  //   }
  // }

  // &--grey {
  //   background-color: transparent;
  //   border: 1px solid var(--grey);
  //   color: var(--grey);
  //   text-decoration: none;

  //   &:hover,
  //   &:focus {
  //     background-color: var(--grey);
  //     color: var(--blue);
  //   }
  // }

  // &--plusOrange {
  //   align-content: center;
  //   align-items: center;
  //   background-color: var(--acqua);
  //   border: 3px solid var(--acqua);
  //   color: var(--black);
  //   display: flex;
  //   height: 40px;
  //   justify-content: center;
  //   text-decoration: none;
  //   width: 40px;
    
  //   @media (min-width: $breakpoint-tablet) {
  //     padding: 0;
  //   }

  //   &::after {
  //     content: '+';
  //     font-size: 40px;
  //   }

  //   &:hover,
  //   &:focus {
  //     background-color: transparent;
  //     color: var(--acqua);
  //   }
  // }

  // &--plusBlack {
  //   align-content: center;
  //   align-items: center;
  //   background-color: var(--black);
  //   border: 3px solid var(--black);
  //   color: var(--acqua);
  //   display: flex;
  //   height: 40px;
  //   justify-content: center;
  //   text-decoration: none;
  //   width: 40px;
    
  //   @media (min-width: $breakpoint-tablet) {
  //     padding: 0;
  //   }

  //   &::after {
  //     content: '+';
  //     font-size: 40px;
  //   }

  //   &:hover,
  //   &:focus {
  //     background-color: transparent;
  //     color: var(--black);
  //   }
  // }

  // &--full {
  //   background-color: var(--blue);
  //   border: 3px solid var(--blue);
  //   color: var(--white);
  //   text-decoration: none;

  //   &:hover,
  //   &:focus {
  //     background-color: transparent;
  //     color: var(--black);
  //   }
  // }
}

.wpcf7-submit {
  @include reset-link;
  align-items: center;
  appearance: none;
  background-color: transparent;
  background-image: url('data:image/svg+xml,%3Csvg width="186" height="48" viewBox="0 0 186 48" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0.5 0.5H177.453L185.5 9.19584V47.5H0.5V0.5Z" stroke="black"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid var(--black);
  border-radius: 0;
  color: var(--black);
  cursor: pointer;
  display: flex;
  display: inline-block;
  font: inherit;
  font-family: 'FKGroteskNeue', Arial, sans-serif;
  font-size: 1.125rem;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1;
  min-width: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;

  &:hover,
  &:focus {
    background-image: url('data:image/svg+xml,%3Csvg width="186" height="48" viewBox="0 0 186 48" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0.5 0.5H177.453L185.5 9.19584V47.5H0.5V0.5Z" fill="black" stroke="black"/%3E%3C/svg%3E');
    color: var(--yellow);
  }
}