<div class="w-full flex justify-end items-center">
  {% if ctaMenuItem %}
    <a 
      class="" 
      href="{{ ctaMenuItem.url }}" 
      {% if ctaMenuItem.target %} target="{{ ctaMenuItem.target }}" rel="noreferrer noopener"{% endif %}>
        <svg class="h-[17px] lg:h-[28px]" id="a" xmlns="http://www.w3.org/2000/svg" width="818.81" height="114.64" viewBox="0 0 818.81 114.64"><path d="M-.23,112.6V2.04h15.73l60.84,81.92-8.16,1.63V2.04h20.18v110.56h-15.88L12.53,30.09l7.42-1.63v84.14H-.23Z" fill="#303030"/><path d="M109.74,112.6V2.04h73.46v17.81h-53.28v28.34h50.31v17.81h-50.31v28.79h53.28v17.81h-73.46Z" fill="#303030"/><path d="M217.62,112.6V19.85h-28.64V2.04h77.17v17.81h-28.2v92.75h-20.33Z" fill="#303030"/><path d="M269.86,112.6v-15.88l53.57-76.87h-50.46V2.04h76.13v15.88l-53.43,76.87h54.91v17.81h-80.73Z" fill="#303030"/><path d="M383.83,112.6L354.15,2.04h21.67l23.3,94.24h-5.64L417.82,2.04h20.92l24.19,94.24h-5.64L480.59,2.04h21.67l-29.68,110.56h-23.15l-24.49-91.71h6.53l-24.49,91.71h-23.15Z" fill="#303030"/><path d="M514.57,112.6V2.04h73.46v17.81h-53.28v28.34h50.31v17.81h-50.31v28.79h53.28v17.81h-73.46Z" fill="#303030"/><path d="M602.87,112.6V2.04h41.11c7.52,0,14.17,1.36,19.96,4.08,5.79,2.72,10.31,6.68,13.58,11.87,3.26,5.19,4.9,11.5,4.9,18.92s-1.81,14.1-5.42,19.44c-3.61,5.34-8.48,9.3-14.62,11.87l25.38,44.37h-22.85l-27.16-48.53,13.06,7.72h-27.75v40.81h-20.18ZM623.05,53.98h21.22c3.66,0,6.83-.72,9.5-2.15,2.67-1.43,4.75-3.44,6.23-6.01,1.48-2.57,2.23-5.54,2.23-8.9s-.74-6.46-2.23-8.98c-1.48-2.52-3.56-4.5-6.23-5.94-2.67-1.43-5.84-2.15-9.5-2.15h-21.22v34.13Z" fill="#303030"/><path d="M700.97,112.6V2.04h20.18v57.58l-5.49-1.93,47.04-55.65h25.38l-44.08,52.24,1.19-14.25,44.22,72.57h-23.74l-29.68-48.68-14.84,17.66v31.02h-20.18Z" fill="#303030"/></svg>    </a>
  {% endif %}
</div>