.menu {
  @include reset-list;
  @apply w-full;
  @apply flex;
  @apply flex-col;
  @apply sm:flex-row;
  @apply justify-center;
  @apply justify-between;
  @apply items-center;
  @apply sm:items-start;
  @apply p-0;
  @apply m-0;
  @apply fixed;
  @apply top-0;
  @apply overflow-y-hidden;
  backface-visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.45s;
  visibility: hidden;
  will-change: transform;

  .item {
    @apply flex;
    @apply items-center;
    @apply sm:items-start;
    @apply justify-center;
    @apply sm:justify-start;
    @apply flex-grow-0;
  }

  .link {
    @apply text-black;
    @apply text-center;
    @apply pt-xs;
    @apply pb-[5px];
    @apply px-0;
  }

  .current-menu-item {
    // @apply underline;

    .submenu {
      .item {
        border: 0 !important;
      }

      // .current-menu-item {
      //   @apply underline;
      // }
    }
  }
}

.open-submenu {
  @apply flex;
  @apply flex-col;
}

.submenu {
  @apply p-0;
  @apply w-full;
  @apply flex;
  @apply flex-col;
  @apply flex-wrap;
  @apply justify-center;
  @apply sm:justify-start;

  .item {
    border-top: 0;
    @apply hover:underline;
  }
}

&[data-status='menuIsOpen'] {
  .menu {
    transform: translateY(0);
    visibility: visible;
  }
}
