{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post mt-pageTop">
    <header class="post-header boxed flex flex-col">
      {{ renderComponent('BlockJournalHeader', { post: post }) }}
    </header>
    <section class="post-main">
      {% for component in post.meta('journalComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    <footer>
      <div class="post-related">
        {{ renderComponent('ListingJournalRelated', {'preContentHtml': '<h3>' ~ __('Related Blogs') ~ '</h3>','taxonomies': post.categories(), 'options': {'columns': 4}}) }}
      </div>
      {# {{ renderComponent('BlockPostNav', { post: post }) }} #}
    </footer>
  </article>
{% endblock %}
