{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post mt-md">
    {{ renderComponent('BlockProjektHeader', { post: post }) }}
    </header>
    <section class="post-main">
      {% for component in post.meta('postComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    {# <section class="post-related">
      {{ renderComponent('RelatedPosts', {'preContentTitle': '<h2>' ~ __('Related News') ~ '</h2>', 'taxonomies': post.categories(), 'options': {'maxPosts': 3}}) }}
    </section>
    <footer>
      {{ renderComponent('BlockPostNav', { post: post }) }}
    </footer> #}
  </article>
{% endblock %}
