flynt-component[name='BlockSliderLogos'] {
  .marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    
    .marquee-content {
      will-change: transform;
      display: inline-flex;
      flex-wrap: nowrap;
      min-width: fit-content;
      
      figure {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
      
      img {
        flex-shrink: 0;
      }
    }
  }
}
