<flynt-component 
  load:on="visible" 
  name="BannerImageText">
  <div class="h-full w-full max-w-screen-max mx-auto px-sm py-md lg:px-lg lg:py-xl">
    {% if content %}
    <div class="w-full h-full p-md lg:p-xl rounded-container" style="background: linear-gradient(181deg, #B4D9E8 -11.98%, #7EC26E 111.06%);">
      <div class="w-full wysiwyg">
        {{ content|e('wp_kses_post') }}
      </div>
      {% if buttonLink %}
        <div class="w-full mt-lg flex justify-center">
          <a 
            class="button button--white" 
            href="{{ buttonLink.url }}" 
            {% if buttonLink.target %} target="{{ buttonLink.target }}" rel="noreferrer noopener"{% endif %}>
            {{ buttonLink.title }}
          </a>
        </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</flynt-component>
