<flynt-component load:on="idle" name="NavigationMain" class="w-full flex justify-start items-center">
  <nav class="navigation z-[99] w-full" aria-label="{{ labels.ariaLabel|e }}">
    <div class="flex flex-row items-center justify-between gap-sm h-full w-full">
      <div class="grid grid-cols-12 gap-xs items-center w-full">
      {% include 'Partials/_logo.twig' with { 'logo': logo, 'site': site } only %}
      {% if menu %}
        {% include 'Partials/_menu.twig' with { 'items': menu.items } only %}
      {% endif %}
      <button data-ref="menuButton" class="openFooter hamburger col-start-12 col-end-13 flex flex-row justify-end items-center" type="button" aria-expanded="false" aria-controls="navigationMain-menu">
        <svg class="w-fit" width="35" height="17" viewBox="0 0 35 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line y1="1" x2="35" y2="1" stroke="black" stroke-width="2"/>
          <line y1="16" x2="35" y2="16" stroke="black" stroke-width="2"/>
        </svg>
      </button>
      </div>
    </div>
  </nav>
</flynt-component>
